@font-face {
  font-family: "NotoSans";
  src: url("../font/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "mononoki";
  src: url("../font/mononoki-Regular.ttf") format("truetype");
}

html,
body,
.markdown-body {
  font-family: "NotoSans", sans-serif;
  /* font-size: 15px; */
}

.markdown-body code,
.markdown-body pre {
  font-family: "mononoki", monospace !important;
  /* font-size: 15px; */
}
