@font-face {
  font-family: "NotoSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("NotoSans-Regular"),
    url("https://uposs.justokay.cn/font/NotoSans-Regular.ttf"),
    url("../font/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Merriweather"),
    url("https://uposs.justokay.cn/font/Merriweather-Regular.ttf"),
    url("../font/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "mononoki";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("mononoki-Regular"),
    url("https://uposs.justokay.cn/font/mononoki-Regular.ttf"),
    url("../font/mononoki-Regular.ttf") format("truetype");
}

:root {
  --inlinecode-bg-color: #e7e9f8;
  /* --post-heading-color: #000000; */
}

[data-user-color-scheme="dark"] {
  --inlinecode-bg-color: rgba(99, 110, 123, 0.4);
}

.index-header {
  font-weight: normal;
  font-size: 1.4rem;
}
.category .category-item,
.category .category-subitem {
  font-weight: normal;
}

.about-name {
  font-weight: normal;
}

html,
body,
.markdown-body {
  font-family: Merriweather, NotoSans, sans-serif;
  font-size: 16px;
}

/* .markdown-body {
  font-size: 17px;
} */

.markdown-body code,
.markdown-body pre {
  font-family: mononoki, SFMono-Regular, monospace;
  font-size: 16px;
}
