@font-face {
  font-family: "NotoSans SC";
  src: url("../font/NotoSansSC-Regular.otf") format("opentype");
}

@font-face {
  font-family: "mononoki";
  src: url("../font/mononoki-Regular.ttf") format("truetype");
}

html,
body,
.markdown-body {
  font-family: "NotoSans SC", sans-serif !important;
  /* font-size: 15px; */
}

.markdown-body code,
.markdown-body pre {
  font-family: "mononoki", monospace !important;
  /* font-size: 15px; */
}
