@font-face {
  font-family: "NotoSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("NotoSans"),
    url("https://uposs.justokay.cn/font/NotoSans-Regular.ttf"),
    url("../font/NotoSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "mononoki";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("mononoki"),
    url("https://uposs.justokay.cn/font/NotoSans-Regular.ttf"),
    url("../font/mononoki-Regular.ttf") format("truetype");
}

:root {
  --inlinecode-bg-color: #e7e9f8;
}

[data-user-color-scheme="dark"] {
  --inlinecode-bg-color: rgba(99, 110, 123, 0.4);
}

html,
body,
.markdown-body {
  font-family: "NotoSans", sans-serif;
  /* font-size: 15px; */
}

.markdown-body code,
.markdown-body pre {
  font-family: "mononoki", monospace !important;
  /* font-size: 15px; */
}
